* { margin: 0px; padding: 0px;} 
    
html { background-image: url(./images/fundo.png);}

.texto-cabecalho a { text-decoration:none; color: darkmagenta; font-size: 16px; font-family: Arial; margin: 95px; padding: 15px;}

h1 { color:darkorchid; text-align: center; font-size: 30px;}

.texto h3 { color: darkmagenta; text-align:center; font-size: 23px;}