.logo { max-width: 45px; margin-right: 10px; }

main.container { background-image: url(../img/g_1.jpg); height: 68vh; background-size: cover; padding-bottom: 20px; }
.card-img-top { height: 300px; background-size: cover; background-repeat: no-repeat; }
.img-1 { background-image: url(../img/g_2.jpg); }
.img-2 { background-image: url(../img/g_3.jpg); }
.img-3 { background-image: url(../img/g_4.jpg); }
.img-4 { background-image: url(../img/g_5.jpg); }
.img-5 { background-image: url(../img/g_6.jpg); }
.card { padding: 10px; border: none; }
.nav-link { color: #000!important; }