* { margin: 0px; padding: 0px; box-sizing: border-box; }

body { width: 100vw; height: 100vh; }

.container { display: flex; width: 800px; height: 800px; margin: 0 auto; flex-wrap: wrap; }

.image { width: 200px; height: 200px; background-size: cover; display: flex; align-items: center; justify-content: center; color: #fff; font-weight: 900; }

h3 { text-shadow: 0 -0 1em #242424, 0 0 0.2em #242424, 0 -0 1em #242424; }

#image1 { background-image: url(./imagens/questao01.01.jpg); }

#image2 { background-image: url(./imagens/questao01.02.jpg); }

#image3 { background-image: url(./imagens/questao01.03.jpg); }

#image4 { background-image: url(./imagens/questao01.04.jpg); }

#image5 { background-image: url(./imagens/questao01.05.jpg); }

#image6 { background-image: url(./imagens/questao01.06.jpg); }

#image7 { background-image: url(./imagens/questao01.07.jpg); }

#image8 { background-image: url(./imagens/questao01.08.jpg); }

#image9 { background-image: url(./imagens/questao01.09.jpg); }

#image10 { background-image: url(./imagens/questao01.10.jpg); }

#image11 { background-image: url(./imagens/questao01.11.jpg); }

#image12 { background-image: url(./imagens/questao01.12.jpg); }

#image13 { background-image: url(./imagens/questao01.13.jpg); }

#image14 { background-image: url(./imagens/questao01.14.jpg); }

#image15 { background-image: url(./imagens/questao01.15.jpg); }

#image16 { background-image: url(./imagens/questao01.16.jpg); }
